numpy>=1.26.4,<2.0
torch>=2.2.2
scipy>=1.13.1
matplotlib>=3.9.4
scikit-learn>=1.4.0
seaborn>=0.13.0
pytest>=8.0
nibabel>=5.0
nilearn>=0.10.4
boto3>=1.34
einops>=0.7
pyyaml>=6.0
git+https://github.com/fra31/auto-attack
torchattacks>=3.5
